In [9]:
!pip3 install tushare
!pip3 install jieba
!pip3 install pandas
!pip3 install matplotlib
!pip3 install wordcloud

Looking in indexes: http://mirrors.tencent.com/repository/pypi/tencent_pypi/simple/, http://pypi.dq.oa.com/simple/, https://mirrors.cloud.tencent.com/pypi/simple/
Requirement already satisfied: tushare in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (1.2.60)
Requirement already satisfied: bs4>=0.0.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from tushare) (0.0.1)
Requirement already satisfied: requests>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from tushare) (2.24.0)
Requirement already satisfied: websocket-client>=0.57.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from tushare) (0.57.0)
Requirement already satisfied: simplejson>=3.16.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from tushare) (3.17.2)
Requirement already satisfied: lxml>=3.8.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from tushare) (4.5.2)
Requirement already satisfied: beautifulsoup4 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from bs4>=0.0.1->tushare) (4.9.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from requests>=2.0.0->tushare) (1.25.10)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from requests>=2.0.0->tushare) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from requests>=2.0.0->tushare) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from requests>=2.0.0->tushare) (3.0.4)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from websocket-client>=0.57.0->tushare) (1.15.0)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from beautifulsoup4->bs4>=0.0.1->tushare) (2.0.1)
Looking in indexes: http://mirrors.tencent.com/repository/pypi/tencent_pypi/simple/, http://pypi.dq.oa.com/simple/, https://mirrors.cloud.tencent.com/pypi/simple/
Collecting jieba
  Downloading https://mirrors.tencent.com/pypi/packages/c6/cb/18eeb235f833b726522d7ebed54f2278ce28ba9438e3135ab0278d9792a2/jieba-0.42.1.tar.gz (19.2 MB)
     |████████████████████████████████| 19.2 MB 2.3 MB/s eta 0:00:01
Using legacy setup.py install for jieba, since package 'wheel' is not installed.
Installing collected packages: jieba
    Running setup.py install for jieba ... done
Successfully installed jieba-0.42.1
Looking in indexes: http://mirrors.tencent.com/repository/pypi/tencent_pypi/simple/, http://pypi.dq.oa.com/simple/, https://mirrors.cloud.tencent.com/pypi/simple/
Collecting pandas
  Downloading https://mirrors.tencent.com/pypi/packages/4b/11/af80c1f40bd17af25945ad5f27d57e4514db53b8370d2dc54ff3d23c35c4/pandas-1.1.2-cp37-cp37m-macosx_10_9_x86_64.whl (10.4 MB)
     |████████████████████████████████| 10.4 MB 2.6 MB/s eta 0:00:01
Collecting python-dateutil>=2.7.3
  Downloading https://mirrors.tencent.com/pypi/packages/d4/70/d60450c3dd48ef87586924207ae8907090de0b306af2bce5d134d78615cb/python_dateutil-2.8.1-py2.py3-none-any.whl (227 kB)
     |████████████████████████████████| 227 kB 2.2 MB/s eta 0:00:01
Collecting numpy>=1.15.4
  Downloading https://mirrors.tencent.com/pypi/packages/c1/a9/f04a5b7db30cc30b41fe516b8914c5049264490a34a49d977937606fbb23/numpy-1.19.2-cp37-cp37m-macosx_10_9_x86_64.whl (15.3 MB)
     |████████████████████████████████| 15.3 MB 2.9 MB/s eta 0:00:01
Collecting pytz>=2017.2
  Downloading https://mirrors.tencent.com/pypi/packages/4f/a4/879454d49688e2fad93e59d7d4efda580b783c745fd2ec2a3adf87b0808d/pytz-2020.1-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 659 kB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: python-dateutil, numpy, pytz, pandas
Successfully installed numpy-1.19.2 pandas-1.1.2 python-dateutil-2.8.1 pytz-2020.1
Looking in indexes: http://mirrors.tencent.com/repository/pypi/tencent_pypi/simple/, http://pypi.dq.oa.com/simple/, https://mirrors.cloud.tencent.com/pypi/simple/
Collecting matplotlib
  Downloading https://mirrors.tencent.com/pypi/packages/63/f0/c2c11e34d43f657df8ae05be5fa991200a2ed576e3694244a9dc766c14c3/matplotlib-3.3.2-cp37-cp37m-macosx_10_9_x86_64.whl (8.5 MB)
     |████████████████████████████████| 8.5 MB 7.0 MB/s eta 0:00:01
Collecting pillow>=6.2.0
  Downloading https://mirrors.tencent.com/pypi/packages/61/c1/efce2db357db76dc3a65e9a0982cd6501648685e64903fda590ed79b1ac8/Pillow-7.2.0-cp37-cp37m-macosx_10_10_x86_64.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 877 kB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (2.8.1)
Collecting cycler>=0.10
  Downloading https://mirrors.tencent.com/pypi/packages/f7/d2/e07d3ebb2bd7af696440ce7e754c59dd546ffe1bbe732c8ab68b9c834e61/cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Collecting kiwisolver>=1.0.1
  Downloading https://mirrors.tencent.com/pypi/packages/81/c5/9831f281c6fb57945e83fdf39ff036cacfdc84aa1988bb3150b330533050/kiwisolver-1.2.0-cp37-cp37m-macosx_10_9_x86_64.whl (60 kB)
     |████████████████████████████████| 60 kB 724 kB/s eta 0:00:011
Requirement already satisfied: certifi>=2020.06.20 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: numpy>=1.15 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (1.19.2)
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3
  Downloading https://mirrors.tencent.com/pypi/packages/8a/bb/488841f56197b13700afd5658fc279a2025a39e22449b7cf29864669b15d/pyparsing-2.4.7-py2.py3-none-any.whl (67 kB)
     |████████████████████████████████| 67 kB 2.7 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Installing collected packages: pillow, cycler, kiwisolver, pyparsing, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.2.0 matplotlib-3.3.2 pillow-7.2.0 pyparsing-2.4.7
Looking in indexes: http://mirrors.tencent.com/repository/pypi/tencent_pypi/simple/, http://pypi.dq.oa.com/simple/, https://mirrors.cloud.tencent.com/pypi/simple/
Collecting wordcloud
  Downloading https://mirrors.tencent.com/pypi/packages/77/4e/37f27d2619bd739f445266aeba890cc4149a2c03ee80cc6175edd50133e7/wordcloud-1.8.0-cp37-cp37m-macosx_10_6_x86_64.whl (161 kB)
     |████████████████████████████████| 161 kB 745 kB/s eta 0:00:01
Requirement already satisfied: numpy>=1.6.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from wordcloud) (1.19.2)
Requirement already satisfied: pillow in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from wordcloud) (7.2.0)
Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from wordcloud) (3.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib->wordcloud) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib->wordcloud) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib->wordcloud) (1.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib->wordcloud) (2.8.1)
Requirement already satisfied: certifi>=2020.06.20 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib->wordcloud) (2020.6.20)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from cycler>=0.10->matplotlib->wordcloud) (1.15.0)

Installing collected packages: wordcloud
Successfully installed wordcloud-1.8.0

In [11]:
# 金融量化分析常用库：
# pandas（数据结构）
# numpy（数组）
# matplotlib（可视化）
# scipy（科学统计）
import tushare as ts
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import jieba
import jieba.analyse
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

ModuleNotFoundError: No module named 'jieba'

In [5]:
# 基本面数据
df = ts.get_stock_basics()
df.to_csv('basic.csv',index=False,encoding='utf_8_sig')

NameError: name 'ts' is not defined

In [7]:
pro = ts.pro_api('4340a981b3102106757287c11833fc14e310c4bacf8275f067c9b82d')
df = pro.stock_company(exchange='SZSE', fields='ts_code,chairman,manager,secretary,reg_capital,setup_date,province')
df.to_csv('stock_company.csv',index=False,encoding='utf_8_sig')

In [3]:
ts.get_notices("000001") .head()

,title,type,date,url
0,平安银行：2018年年度权益分派实施公告,临时公告,2019-06-20,http://vip.stock.finance.sina.com.cn/corp/view...
1,平安银行：关于董事辞任的公告,临时公告,2019-06-04,http://vip.stock.finance.sina.com.cn/corp/view...
2,平安银行：2018年年度股东大会决议公告,临时公告,2019-05-31,http://vip.stock.finance.sina.com.cn/corp/view...
3,平安银行：2018年年度股东大会的法律意见书,法律意见书,2019-05-31,http://vip.stock.finance.sina.com.cn/corp/view...
4,平安银行：关于对混合资本债券行使赎回选择权的公告,临时公告,2019-05-30,http://vip.stock.finance.sina.com.cn/corp/view...

In [4]:
ts.guba_sina().head()

             title         ptime  rcounts
0       大盘为何没有向上突破  06月19日 15:04  36601.0
1        一通电话引发的大涨  06月19日 15:24  34407.0
2           静等周四变盘  06月19日 15:10  46834.0
3      牛皮市中报风险需要预防  06月19日 15:16  40229.0
4  题材股遍地开花 后市一片艳阳天  06月19日 15:49  44121.0

In [5]:
ts.get_hist_data("000001").head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2019-06-19,13.29,13.39,13.07,13.01,1143226.38,0.27,2.11,12.724,12.507,12.376,651957.87,749541.34,779000.99
2019-06-18,12.67,12.85,12.80,12.59,483555.12,0.13,1.03,12.624,12.385,12.351,554774.63,732684.24,758400.19
2019-06-17,12.48,12.79,12.67,12.48,619815.88,0.18,1.44,12.594,12.295,12.330,708281.11,835600.63,773544.20
2019-06-14,12.59,12.69,12.49,12.45,483191.72,-0.10,-0.79,12.528,12.246,12.318,813251.68,842298.48,790803.45
2019-06-13,12.54,12.68,12.59,12.43,530000.25,0.02,0.16,12.414,12.219,12.336,803346.39,858607.77,798388.93

In [6]:
ts.get_hist_data("000001",ktype="w").head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2019-06-20,12.48,13.39,13.17,12.48,2246597.50,0.58,4.64,12.422,12.960,12.677,3287758.25,4312483.23,5156957.86
2019-06-14,12.01,12.72,12.49,11.98,4066258.50,0.57,4.78,12.276,12.985,12.569,3764120.15,4577955.93,5265090.44
2019-06-06,12.22,12.33,11.92,11.60,3669932.00,-0.26,-2.13,12.314,13.122,12.466,4332133.95,4759236.68,5243872.95
2019-05-31,12.21,12.59,12.18,11.93,3928619.50,-0.17,-1.38,12.700,13.212,12.380,4027600.75,4936251.18,5273863.58
2019-05-24,12.35,12.73,12.35,12.24,2527383.75,-0.09,-0.72,13.022,13.253,12.258,4508593.45,5038118.28,5151490.55

In [7]:
ts.get_hist_data("000001",ktype="m").head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2019-06-20,12.22,13.39,13.17,11.60,9982788.0,0.89,7.31,12.876,11.718,11.527,19946598.0,11694121.6,6337568.9
2019-05-31,13.10,13.35,12.18,11.93,17990736.0,-1.67,-12.06,12.462,11.414,11.445,21391685.6,10695842.8,6536027.7
2019-04-30,12.83,14.84,13.85,12.83,25931698.0,1.03,8.03,11.902,11.138,11.392,17793538.4,8896769.2,6441582.9
2019-03-29,12.48,13.38,12.82,12.01,26713024.0,0.46,3.72,11.204,10.662,11.263,12607198.8,6303599.4,6459066.0
2019-02-28,11.20,12.66,12.36,10.90,19114744.0,1.26,11.35,10.822,10.398,11.156,7264594.0,3632297.0,6891462.2

In [8]:
# 5 minues 15,30,60
ts.get_hist_data("000001",ktype="5").head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2019-06-19 15:00:00,13.07,13.08,13.07,13.06,8012.0,0.00,0.00,13.084,13.120,13.1505,17826.5,16639.2,15234.8,0.00
2019-06-19 14:55:00,13.07,13.08,13.08,13.06,26311.7,0.01,0.08,13.098,13.135,13.1575,18653.1,18304.0,15272.7,0.02
2019-06-19 14:50:00,13.10,13.10,13.07,13.07,30794.0,-0.03,-0.23,13.104,13.146,13.1635,17554.4,18046.5,14352.2,0.02
2019-06-19 14:45:00,13.10,13.11,13.10,13.09,13392.7,0.00,0.00,13.120,13.157,13.1690,15867.6,16038.9,13016.6,0.01
2019-06-19 14:40:00,13.13,13.14,13.10,13.10,10622.2,-0.03,-0.23,13.138,13.164,13.1735,15545.1,16566.4,12999.9,0.01

In [9]:
# sh上证指数； sz深圳成指； hs300沪深300； sz50上证50； zxb中小板指数； cyb创业板指数
ts.get_hist_data("cyb").head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2019-06-19,1501.25,1504.41,1469.99,1469.59,16878786.0,14.24,0.98,1460.376,1456.171,1466.724,13305159.8,13847384.5,14209395.85
2019-06-18,1443.65,1460.19,1455.75,1437.04,9075484.0,13.40,0.93,1461.158,1454.799,1467.911,12853513.4,13402555.2,14119367.10
2019-06-17,1450.56,1459.21,1442.35,1437.14,9968822.0,-11.61,-0.80,1467.478,1456.122,1468.589,14905515.8,13928269.9,14493830.70
2019-06-14,1478.53,1489.47,1453.96,1451.66,16016380.0,-25.87,-1.75,1465.276,1460.253,1470.409,15363326.0,14201386.5,14961172.10
2019-06-13,1474.55,1485.72,1479.83,1464.84,14586327.0,5.93,0.40,1457.696,1463.381,1474.394,14821981.6,13946315.2,14942959.45

In [10]:
# 宏观数据(居民消费指数)
ts.get_cpi().head()

    month     cpi
0  2019.5  102.74
1  2019.4  102.54
2  2019.3  102.28
3  2019.2  101.49
4  2019.1  101.74

In [11]:
# 获取分笔数据
ts.get_tick_data('000001', date='2018-10-08', src='tt').head()

c:\users\jomin\appdata\local\programs\python\python37\lib\site-packages\tushare\stock\trading.py:182: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  skiprows=[0])

       time  price  change  volume    amount type
0  09:25:04  10.70   -0.35   36779  39353530   卖盘
1  09:30:04  10.69   -0.01   25165  26872673   卖盘
2  09:30:06  10.69    0.00   11092  11853208   买盘
3  09:30:09  10.68   -0.01    2005   2142749   卖盘
4  09:30:13  10.68    0.00    5973   6363516   买盘